BasedOnStyle: LLVM
Language:        Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignConsecutiveMacros:
  AcrossComments:  true
AlignEscapedNewlines: Right
AlignOperands:   true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakBeforeMultilineStrings: false
AttributeMacros:
  - __aligned
  - __capability
  - __packed
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: After
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterFunction: true
  AfterStruct: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakTemplateDeclarations: MultiLine
ColumnLimit: 100
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
  - SLIST_FOREACH
  - SLIST_FOREACH_FROM
  - SLIST_FOREACH_FROM_SAFE
  - SLIST_FOREACH_SAFE
  - SLIST_FOREACH_PREVPTR
  - STAILQ_FOREACH
  - STAILQ_FOREACH_FROM
  - STAILQ_FOREACH_FROM_SAFE
  - STAILQ_FOREACH_SAFE
  - LIST_FOREACH
  - LIST_FOREACH_FROM
  - LIST_FOREACH_SAFE
  - LIST_FOREACH_FROM_SAFE
  - TAILQ_FOREACH
  - TAILQ_FOREACH_FROM
  - TAILQ_FOREACH_FROM_SAFE
  - TAILQ_FOREACH_REVERSE
  - TAILQ_FOREACH_REVERSE_FROM
  - TAILQ_FOREACH_REVERSE_SAFE
  - TAILQ_FOREACH_REVERSE_FROM_SAFE
  - TAILQ_FOREACH_SAFE
MacroBlockBegin:
  "STATS_NAME_START|\
   STATS_SECT_START"
MacroBlockEnd:
  "STATS_NAME_END|\
   STATS_SECT_END"
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^".*\.h"$'
    Priority: 0
  - Regex: '^\<syscfg/.*\.h\>$'
    Priority: 1
  - Regex: '^<(assert|complex|ctype|errno|fenv|float|inttypes|limits|locale|math|setjmp|signal|stdarg|stdbool|stddef|stdint|stdio|stdlib|string|tgmath|time|wchar|wctype)\.h>$'
    Priority: 2
  - Regex: '^<(os|sys)\.h>$'
    Priority: 3
  - Regex: '^\<nimble/.*\.h\>$'
    Priority: 4
  - Regex: '.*'
    Priority: 5
IndentAccessModifiers: false
IndentGotoLabels: false
IndentCaseBlocks: true
IndentCaseLabels: false
IndentWidth: 4
InsertBraces: true
InsertTrailingCommas: None
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: true
LambdaBodyIndentation: Signature
LineEnding: LF
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PointerAlignment: Right
ReflowComments: true
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 4
UseTab: Never
...
